
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Verdana;
    background: linear-gradient(to bottom, rgb(0, 0, 0), #3498db); 
    
}

.containerform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%; 
    border-radius: 20px;
    background-color: rgba(36, 37, 47, 0.927);
    margin: 10%;
}

.containerform label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.833);
}

.button {
    background-color: #3498db;
    color: white;
    padding: 10px 30px;
    border: none;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.7s ease;
    border-radius: 10px;
    font-family: Verdana;
    margin: 5px;
    
}

.button:hover {
    background-color: #2a6287;
}

.error{
    color: red
}

.errorText{
    border-bottom: 1px solid red;
}

.p{
    color: white;
}
