.background{
    background: linear-gradient(to bottom, rgb(0, 0, 0), #3498db); 
    min-height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Verdana;
}

.backgroundbutton{
    background-color: rgba(36, 37, 47, 0.927);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-sizing: border-box;
}
    

.button {
    background-color: #3498db;
    color: white;
    padding: 10px 30px;
    border: none;
    text-decoration: none;
    transition: background-color 0.7s ease;
    border-radius: 10px;
    font-family: Verdana;
    margin: 5px;
    
}

.button:hover {
    background-color: #2a6287;
}

.backgroundfilters{
    background-color: rgba(36, 37, 47, 0.927);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Verdana;
}




